{% extends "layout.html" %}

{% block title %}

    Art Walk

{% endblock %}

{% block main %}

<header>
    <p class="w3-jumbo w3-cursive w3-center w3-topbar w3-bottombar w3-border-teal">Monica's Art Walk</p>
</header>
<div class = "w3-row">

    <div class = "w3-button w3-teal w3-hover-light-green w3-half">
        <a href="/meg">
            <p>Monica and Gio</p>
            <img class="w3-image" src="/static/Meg.jpg" alt="picture of mother and son" width="100%">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-hover-light-green w3-half">
            <a href="/artloth">
            <p>Artloth</p>
            <img class = "w3-image" src="/static/Artloth.jpg" alt="House in Lothlorien" width="100%">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-hover-light-green w3-half">
        <a href="/sun">
            <p>Sunflowers</p>
            <img clas = "w3-image" src= "static/Sunflowers.jpg" alt="Field of sunflowers" width="100%">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-hover-light-green w3-half">
        <a href="/bag">
            <p>Bagend</p>
            <img class = "w3-image " src="/static/Bagend.jpg" alt="Bagend of Hobbition" width="100%">
        </a>
    </div>
        <div class = "w3-button w3-teal w3-hover-light-green w3-half">
            <a href="/tom">
                <p>Tom Bombadil</p>
                <img class = "w3-image " src="/static/tom.jpg" alt="Tom Bombadil" width="100%">
            </a>
        </div>
        <div class = "w3-button w3-teal w3-hover-light-green w3-half">
            <a href="/tree">
                <p>Tree</p>
                <img class = "w3-image " src="/static/Tree.jpg" alt="A tree by the lake with a swing." width="100%">
            </a>
        </div>
</div>
<div class = "w3-container w3-half">
    <a href="/print" class="w3-button w3-teal w3-hover-light-green w3-cell-middle">Buy Prints</a>
</div>


{% endblock %}