<!DOCTYPE html>
<head>
    <html lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/stylesheet.css">

    <style>
    </style>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body class = "w3-amber">
    <div class="w3-bar w3-teal">
        <div class ="w3-bar-item w3-button w3-round w3-hover-light-green">
            <a href="/home">Home</a>
        </div>
        <div class ="w3-bar-item w3-button w3-round w3-hover-light-blue">
            <a href="/about">About</a>
        </div>
        <div class ="w3-bar-item w3-button w3-round w3-hover-pale-yellow">
            <a href="/art">Art</a>
        </div>
        <div class ="w3-bar-item w3-button w3-round w3-hover-pale-blue">
            <a href="/contact">Contact</a>
        </div>
        <div class ="w3-bar-item w3-button w3-round w3-hover-light-green">
            <a href="/print">Prints</a>
        </div>
    </div>

    <main>
        {% block main %} {% endblock %}
    </main>


</body>
</html>