{% extends "layout.html" %}

{% block title %}

    Filter Example

{% endblock %}

{% block main %}
    <div class = "w3-button w3-teal w3-half">
        <a href="/print">
            <p>Orginal</p>
            <img class = "w3-image" src="/static/Artloth.jpg">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
    <a href="/print">
        <p>Grayscale</p>
        <img class = "w3-image w3-grayscale" src="/static/Artloth.jpg">
    </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
    <a href="/print">
        <p>Grayscale Min</p>
        <img class = "w3-image w3-grayscale-min" src="/static/Artloth.jpg">
    </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
    <a href="/print">
        <p>Grayscale Max</p>
        <img class = "w3-image w3-grayscale-max" src="/static/Artloth.jpg">
    </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
        <a href="/print">
            <p>Sepia</p>
            <img class = "w3-image w3-sepia" src="/static/Artloth.jpg">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
        <a href="/print">
            <p>Sepia Min</p>
            <img class = "w3-image w3-sepia-min" src="/static/Artloth.jpg">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
        <a href="/print">
            <p>Sepia Max</p>
            <img class = "w3-image w3-sepia-max" src="/static/Artloth.jpg">
        </a>
    </div>

    <div class = "w3-button w3-teal w3-half">
        <a href="/print">
            <p>Opacity</p>
            <img class = "w3-image w3-opacity" src="/static/Artloth.jpg">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
        <a href="/print">
            <p>Opacity Min</p>
            <img class = "w3-image w3-opacity-min" src="/static/Artloth.jpg">
        </a>
    </div>
    <div class = "w3-button w3-teal w3-half">
        <a href="/print">
            <p>Opacity Max</p>
            <img class = "w3-image w3-opacity-max" src="/static/Artloth.jpg">
        </a>
    </div>

{% endblock %}