{% extends "layout.html" %}

{% block title %}

    Sunflowers

{% endblock %}

{% block main %}

    <button class="w3-button w3-lime w3-hover-amber" onclick="document.getElementById('id01').style.display='block'">Inspiration</button>
    <div id="id01" class="w3-pannel w3-teal w3-display-container" style="display:none">
        <span onclick="this.parentElement.style.display = 'none'" class="w3-button w3-display-topright w3-amber
        w3-hover-lime">X</span>
        <h1>Inspiration for Sunflowers</h1>
        <p>My son and I go for bike rides in a local park. In fall of 2021 the fields where filled with the most beautiful
        sunflower like plants. We loved riding through the park on the way home everyday from school. My son would tell the
        sunflowers how much he loved them and their beauty.</p>
    </div>

    <div class"w3-row">
        <div class="w3-container w3-teal w3-half w3-button w3-hover-light-green">
            <a href="/print">
            <img class="w3-image w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white" src="/static/Sunflowers.jpg" width="100%">
            </a>
        </div>

    </div>


{% endblock %}