{% extends "layout.html" %}

{% block title %}

    Tree

{% endblock %}

{% block main %}

    <button class="w3-button w3-lime w3-hover-amber" onclick="document.getElementById('id01').style.display='block'">Inspiration</button>
    <div id="id01" class="w3-pannel w3-teal w3-display-container" style="display:none">
        <span onclick="this.parentElement.style.display = 'none'" class="w3-button w3-display-topright w3-amber
        w3-hover-lime">X</span>
        <h1>Inspiration for Tree</h1>
        <p>This was a super pretty online tutorial that I saw. I created it when I first started working with my ipad. I just
        enjoy it and think it is fun.</p>
    </div>

    <div class"w3-row">
        <div class="w3-container w3-teal w3-half w3-button w3-hover-light-green">
            <a href="/print">
            <img class="w3-image w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white" src="/static/Tree.jpg" >
            </a>
        </div>

    </div>


{% endblock %}